body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, black,rgb(64, 64, 132));
}
.logo{

 margin-top: -40px;
 margin-left: 60px;
    height:15%;
    width:13%;

}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 10px;
   
}
header .nav-bar{
    float:right;
    margin-top:-15px;
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 2px;
    text-align: left;
}
}
 header ul li{
    display: inline-block;
   margin-right: 10px;
 }   
 header ul li a{
    text-decoration: none;
    font-size: 20px;
   /* margin:0 25px; */
    font-weight: 600;
    letter-spacing: 1px;
    /* padding:10px; */
    font-size: 18px;
    margin: 5px 16px; 
    padding: 25px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

nav li {
    margin-right: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

nav li a {
    text-decoration: none;
    position: relative;
    color:rgb(249, 253, 255)
}

nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

nav li a:hover{
    color:rgb(183, 230, 239)
}
nav li a:hover::after {
    background-color: rgb(241, 240, 255); }

    
.animated-image-container {
    position: relative;
    width: 785px; 
    height: 410px;
    animation: moveUpDown 3s ease-in-out infinite; 
}
      
@keyframes moveUpDown {
 0%, 100% {
    transform: translateY(0); 
        }
 50% {
    transform: translateY(-20px); 
        }
      }
      
.animated-image-container img {
    width: 83%;
    height: 115%;
    animation: spin 4s linear infinite; 
   
}
.image{
    margin-left: 700px !important;
}
