body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(0, 0, 0),rgb(54, 54, 96));
    color:white;
 
}
body{
  overflow-x: hidden;

}
.logo{
  margin-left: 60px;
    height:17%;
    width:16%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 10px;
   
}
header .nav-bar{
    float:right;
    margin-top:-15px;
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 2px;
    text-align: left;
}
}
 header ul li{
    display: inline-block;
   margin-right: 10px;
 }   
 header ul li a{
    text-decoration: none;
    font-size: 20px;
   /* margin:0 25px; */
    font-weight: 600;
    letter-spacing: 1px;
    /* padding:10px; */
    font-size: 18px;
    margin: 5px 16px; 
    padding: 25px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

nav li {
    margin-right: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

nav li a {
    text-decoration: none;
    position: relative;
    color:rgb(249, 253, 255)
}

nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

nav li a:hover{
    color:rgb(183, 199, 250)
}
nav li a:hover::after {
    background-color: rgb(241, 240, 255); }
  
.animated-image-container {
    position: relative;
    width: 785px; 
    height: 410px;
    animation: moveUpDown 3s ease-in-out infinite; 
}
      
@keyframes moveUpDown {
 0%, 100% {
    transform: translateY(0); 
        }
 50% {
    transform: translateY(-20px); 
        }
      }
      
.animated-image-container img {
    width: 83%;
    height: 115%;
    animation: spin 4s linear infinite; 
   margin-top: 30px;
}
.image{
    margin-left: 700px !important;
    margin-top: -50px
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    .logo{
      font-size: 30px;
      padding-left: 50px;
      margin-top: -15px;
      width:20%;
      margin-left:-20px

    }
    nav ul li a{
      font-size: 10px;
     
    }


nav li a:hover{
    color:rgb(183, 230, 239);
}
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
     top: 90px;
      left: -150%;
      text-align: center;
      transition: all .5s;
      flex-direction: column; 
      align-items: center;
      cursor: pointer;
 
    }
    nav ul li{
       cursor: pointer;
         margin-top: 10px;
         margin-left: 470px;
        
    }
    nav ul li a{
      font-size: 15px;
     margin-top: 74px;
      cursor: pointer;
    }
   
    #check:checked ~ ul{
      left: 0;
      cursor: pointer;
    }

  
  
  }
  .background{
  background-image: url('https://wallpaperaccess.com/full/3180097.jpg'); 

      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 

      width: 100%;
      height: 100vh; 
      color: #ffffff; 

  }

  .home .content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: -420px;
} 
.content h4{
    color: white;
    font-size: 50px;

    text-shadow: 1px 2px 2px rgb(254, 251, 255);
    margin-bottom: -50px;
}
.content h2{
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.change-content::after{
    content: '';
    color: rgb(183, 199, 250);
    animation: changetext 10s infinite linear;
    font-weight: bold;
   
}
@keyframes changetext{
    0%{content: "Web Developer";}
    30%{content: "UI//UX Designer";}
    50%{content: "React Developer";}
    100%{content:"C++ Developer ";}
   
}
.content p{
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content  .btn{
  width: 110px;
  height: 90px;
  background: linear-gradient(to top,rgb(136, 136, 174),purple);
  color: white;
  padding:10px 15px;
  text-decoration: none;
  margin-top: 50px;
  font-family: 'Patua One', cursive;
  cursor: pointer;
}
.content .btn:hover{
  background: linear-gradient(to bottom,rgb(96, 190, 230),rgb(201, 98, 201)) 
}

.about-hea{
  color: white;
  font-size: 50px;
text-shadow: 1px 2px 2px rgb(254, 251, 255);
  margin-bottom: -50px;
  margin-left: 750px;
}
.abt-para{
  margin-top: -250px;
  margin-left: 40%;
  font-size: 17px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-right: 50px;
 text-align: justify;
 font-weight: bold;
}
.my-image{
margin-left: -100px;
  margin-top: -30px;
border-radius: 26% 74% 45% 55% / 50% 39% 61% 50% ;
}
.image-container {
  position: relative;
  display: inline-block;
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 60px;
  width: 70%;
  height: 90%;
  border: 3px ;
  border-radius: 62% 38% 65% 35% / 52% 71% 29% 48%  ;
  box-sizing: border-box;
  z-index: -1; 
  background: linear-gradient(to top,rgb(136, 136, 174),purple);
  margin-top: 45px;
}

.button{

  display: flex;
margin-left: 135px;
margin-top: -50px;

}
.abt-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(to top,rgb(136, 136, 174),purple);
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}
.abt-icon:hover {
  background: linear-gradient(to bottom,rgb(96, 190, 230),rgb(201, 98, 201)) 
}


#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  cursor: pointer;

}


.service-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}


.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to top,rgb(0, 0, 0),rgb(167, 64, 167)) ;
  width: 20%; 
  border-radius: 10px;
  transition: 0.5s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-left: 120px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.service img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.service h2 {
  font-size: 1.5rem;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}
.service p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
}
.service h2:hover{
  color:rgb(0, 0, 0);
}
.service p:hover{
  color:rgb(235, 210, 192);
}
.service:hover{
  background: linear-gradient(to bottom,rgb(136, 136, 174),rgb(57, 1, 57));
  transform: translateY(-13px);  
}
.ser-hea{
  margin-top: 5%;
  margin-left: 42%;
  color: white;
  font-size: 50px;
text-shadow: 1px 2px 2px rgb(254, 251, 255);
}
.all{
  display: flex;
margin-left: -70px;
  justify-content: space-evenly;
margin-top: 50px;
}
.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background: linear-gradient(to left,rgb(0, 0, 0),rgb(167, 64, 167));
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 9s;
  transform: rotate(175deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background: linear-gradient(to left,rgb(0, 0, 0),rgb(167, 64, 167));
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 9s;
  transform: rotate(135deg);
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(117deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background: linear-gradient(to left,rgb(0, 0, 0),rgb(167, 64, 167));
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 9s;
  transform: rotate(130deg);
}

@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
/* 4th progress bar */
.mask .fill-4 {
  clip: rect(0px, 75px, 150px, 0px);
  background: linear-gradient(to left,rgb(0, 0, 0),rgb(167, 64, 167));
}

.mask.full-4,
.circle .fill-4 {
  animation: fill-4 ease-in-out 9s;
  transform: rotate(150deg);
}

@keyframes fill-4{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.skills{
  margin-top: 2%;
  margin-left: 43%;
  color: white;
  font-size: 50px;
text-shadow: 1px 2px 2px rgb(254, 251, 255);
margin-bottom: -10px;
}
.skill-heading{
  margin-top: 100%;
  margin-left: 15px;
}
 .pro-heading{
  margin-top: 19%;
  margin-left: 41%;
  color: white;
  font-size: 50px;
text-shadow: 1px 2px 2px rgb(254, 251, 255);
margin-bottom: -10px;
}
.pro-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top:40px;
margin-left: 10%;;
  background: linear-gradient(to top,rgb(0, 0, 0),rgb(176, 135, 205));
height:200px;
  margin-right: -70px;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  width: 20%; 
 
}

.pro-container {
  display: flex;
  padding-left:-32px;
  position: relative;

margin-left: 130px;
}
.links{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
font-weight: bold;
font-size: 18px;
color:rgb(57, 57, 87);;
}
.links:hover{
  text-decoration:underline;
  color:rgb(253, 254, 255);
  font-weight: bolder;
}

.pro-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  transition: opacity 0.3s; 
}

.pro-content:hover::before {
  opacity: 1;
}


.pro-content a {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s; 
  z-index: 1;
}
.pro-content:hover{
  transform: translateY(-13px);  
}
.pro-content:hover a, .pro-content:hover .links {
  opacity: 1; /
}
 .pro-para{
  color:rgb(255, 255, 255);
  font-family:  cursive;
  font-weight: bold;
 
 }