body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgb(41, 19, 37),rgb(0, 0, 68));
    color:white;
}
.logo{
  margin-left: 60px;
    height:17%;
    width:16%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 10px;
   
}
header .nav-bar{
    float:right;
    margin-top:-15px;
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 2px;
    text-align: left;
}
}
 header ul li{
    display: inline-block;
   margin-right: 10px;
 }   
 header ul li a{
    text-decoration: none;
    font-size: 20px;
   /* margin:0 25px; */
    font-weight: 600;
    letter-spacing: 1px;
    /* padding:10px; */
    font-size: 18px;
    margin: 5px 16px; 
    padding: 25px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

nav li {
    margin-right: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

nav li a {
    text-decoration: none;
    position: relative;
    color:rgb(249, 253, 255)
}

nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 15px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

nav li a:hover{
    color:rgb(183, 199, 250)
}
nav li a:hover::after {
    background-color: rgb(241, 240, 255); }
  
.animated-image-container {
    position: relative;
    width: 785px; 
    height: 410px;
    animation: moveUpDown 3s ease-in-out infinite; 
}
      
@keyframes moveUpDown {
 0%, 100% {
    transform: translateY(0); 
        }
 50% {
    transform: translateY(-20px); 
        }
      }
      
.animated-image-container img {
    width: 83%;
    height: 115%;
    animation: spin 4s linear infinite; 
   margin-top: 30px;
}
.image{
    margin-left: 700px !important;
    margin-top: -50px
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    .logo{
      font-size: 30px;
      padding-left: 50px;
      margin-top: -15px;
      width:20%;
      margin-left:-20px

    }
    nav ul li a{
      font-size: 10px;
     
    }


nav li a:hover{
    color:rgb(183, 230, 239);
}
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
     top: 90px;
      left: -150%;
      text-align: center;
      transition: all .5s;
      flex-direction: column; 
      align-items: center;
      cursor: pointer;
 
    }
    nav ul li{
       cursor: pointer;
         margin-top: 10px;
         margin-left: 470px;
        
    }
    nav ul li a{
      font-size: 15px;
     margin-top: 74px;
      cursor: pointer;
    }
   
    #check:checked ~ ul{
      left: 0;
      cursor: pointer;
    }

  
  
  }
  .background{
  background-image: url('https://wallpaperaccess.com/full/3180097.jpg'); 

      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 

      width: 100%;
      height: 100vh; 
      color: #ffffff; 

  }

  .home .content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: -420px;
} 
.content h4{
    color: white;
    font-size: 50px;

    text-shadow: 1px 2px 2px rgb(254, 251, 255);
    margin-bottom: -50px;
}
.content h2{
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.change-content::after{
    content: '';
    color: rgb(183, 199, 250);
    animation: changetext 10s infinite linear;
    font-weight: bold;
   
}
@keyframes changetext{
    0%{content: "Web Developer";}
    30%{content: "UI//UX Designer";}
    50%{content: "React Developer";}
    100%{content:"C++ Developer ";}
   
}
.content p{
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content .btn{
  width: 110px;
  height: 90px;
  background-color: rgb(193, 92, 240);
  color: white;
  padding:10px 15px;
  text-decoration: none;
  margin-top: 50px;
  font-family: 'Patua One', cursive;
  cursor: pointer;
}
.content .btn:hover{
  background-color:rgb(87, 124, 244) ;
}

.about-hea{
  color: white;
  font-size: 50px;
text-shadow: 1px 2px 2px rgb(254, 251, 255);
  margin-bottom: -50px;
  margin-left: 750px;
}
.abt-para{
  margin-top: -250px;
  margin-left: 40%;
  font-size: 17px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-right: 50px;
 text-align: justify;
}
.my-image{
margin-left: -100px;
  margin-top: -30px;
border-radius: 26% 74% 45% 55% / 50% 39% 61% 50% ;
}
.image-container {
  position: relative;
  display: inline-block;
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 60px;
  width: 70%;
  height: 90%;
  border: 3px ;
  border-radius: 62% 38% 65% 35% / 52% 71% 29% 48%  ;
  box-sizing: border-box;
  z-index: -1; 
  background: linear-gradient(to top,rgb(24, 102, 150),rgb(166, 72, 166));
  margin-top: 45px;
}
.abt-btn{
  width: 110px;
  height: 90px;
  background-color: rgb(193, 92, 240);
  color: white;
  padding:10px 15px;
  text-decoration: none;
  margin-top: -80px;
  font-family: 'Patua One', cursive;
  cursor: pointer;
  margin-left: 13%;

}
.abt-btn:hover{
  background-color:rgb(87, 124, 244) ;
}
.button{
  margin-top: -30px;
}