*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    /* font-family: 'roboto'; */
    background-color: rgb(250, 236, 178);
   
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 80px;
   
}
header .nav-bar{
    float:right;
    margin-top:5px;
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left;
}
}
 header ul li{
    display: inline-block;
   
 }   
 header ul li a{
    text-decoration: none;
    font-size: 20px;
   
    margin:0 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding:10px;
    font-size: 18px;


 }

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

nav li {
    margin-right: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a {
    text-decoration: none;
    position: relative;
    color:white;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}


nav li a:hover::after {
    background-color: white; }

.wave{
    margin-bottom: -50px;
    width:90%;
    margin-top: -150px;
}

.wave2{
    width:80%;
    margin-left: 270px;
    margin-top: -48px;
    z-index: 1;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left;
    margin-bottom: -65px;

}


.heading {
  
   line-height: 50px;
    font-weight: 35px;
 margin-left: -470px;
    margin-top: -85px;
    font-size: 50px;
    color: rgb(156, 67, 28);
    font-family: 'Courgette', cursive;
}

.paraa {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: -470px;
    width:500px;
    margin-top: 10px;
    font-family: 'Architects Daughter', cursive;
}

 .btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #ba803de8, #8a4406);
    color: #fff; 
    font-size: 15px;
    border-radius: 35px;
    margin-left: -470px;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    border: none;
    cursor: pointer !important; 
}
.circle{
    width: 100px; 
    height: 100px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%; 
    margin-top: -100px;
    margin-left: 600px;

}
.circle2{
    width: 50px; 
    height: 50px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 600px;
}
.circle3{
    width: 100px; 
    height: 100px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%; 
    margin-top: -100px;
    margin-left: 40px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:100px;
  
    background: linear-gradient(to left, #ba803de8, #914f15);
    width:230px;
    height:380px;
    justify-content: space-between;
    
}
.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 20px; 
  
}

.service-image img {
    width: 190px; 
    height: 180px; 
    border-radius: 50%;
    margin-bottom: 10px; 
    margin-top: -50px;
}


.service-content {
    margin: 10px;
    font-size: 30px;
    text-align:start;
    color:wheat;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1;
}

 h2 {
    font-size: 1.5rem;
}


.service-content p {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 10px;
 
}
.heading-content{
    color:wheat;
}

.butn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: #914f15 ; 
    text-decoration: none;
    border-radius: 35px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.butn:hover {
    background: linear-gradient(to left, #ffebd4e8, #f3ddc9);
}
.services-heading{
    margin-top: 90px;
    margin-bottom: -50px;
    margin-left: 120px;
    font-size: 40px;
    color: rgb(156, 67, 28);
    font-family: 'Courgette', cursive;
    font-weight: bold;
}
.menu {
    margin-top: 30px;
    margin-bottom: -50px;
    margin-left: 120px;
    font-size: 40px;
    color: rgb(156, 67, 28);
    font-family: 'Courgette', cursive;
    font-weight: bold;
}
.content-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:70px;
  margin-left: 10%;;
    background: white;
    width:230px;
    height:200px;
    margin-right: -70px;
    cursor: pointer;
}
.content-menu:hover{
    background:linear-gradient(to left, #ffebd4e8, #c09772);
    transition: background-color 0.3s ease;
     color: white;
     transform: translateY(-13px);  
}

.menu-para:hover{
    color: rgb(255, 253, 250);
}
.menu-para{
    color:#8a4406;
    font-family: 'Oswald', sans-serif;
}
.menu-container {
    display: flex;
    padding-left:-32px
}
.wave3{
    margin-top: 30px;
    margin-bottom: -35px;
}
.wave4{
    margin-bottom: -35px;
 margin-top: -30px;
   
}
.footer{
    margin-top:-8%;
    display:flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: flex-start; 
    color:rgb(252, 235, 216);
    cursor: pointer;
}

.footer h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    font-size: 1.2em; 
   color: rgb(250, 236, 178)
}

.footer p {
    margin: 0;
    color:rgb(252, 235, 216)
}

.footer h2 + br {
    display: none;
}
.footer-section {
    width: calc(25% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px; /* Add space between sections */
}
.abt-para{
    margin-left: 55px !important;
   justify-content: start;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: -38px !important;
}
.abt-para:hover{
    color:rgb(206, 201, 201);
}
.help-cont{
 margin-left: 145px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-top: -10px !important;
}
.help-cont:hover{
    color:rgb(206, 201, 201);
}
.Corporate{
    margin-left: 85px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -10px !important;
}
.Corporate:hover{
    color:rgb(206, 201, 201);
}
.abt{
    margin-left: 55px !important;
    margin-bottom: -25px !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 20px;
  cursor: pointer;
}
.icons{
    color:white;
   font-size: 22px;

}

.contact{
    margin-bottom: 10px;
}
.contact:hover{
    color:rgb(206, 201, 201);
}
.icon1{
    color:white;
    font-size: 24px;
}
.icon1:hover{
color: rgb(34, 34, 152);
    }
.icon2{
 color:white;
font-size: 24px;
    }
.icon2:hover{
color: rgb(11, 172, 208);
        }
.icon3{
color:white;
font-size: 24px;
        }   
.icon3:hover{
  color: rgb(183, 14, 42);
}        
.icon4{
    color:white;
    font-size: 24px;    
}
.icon4:hover{
    color:rgb(215, 209, 209);
}
.os:hover{
    color:rgb(206, 201, 201);
}
.abt:hover{
    color:rgb(243, 203, 93);
}
.help:hover{
    color:rgb(243, 203, 93);  
}
.dd:hover{
    color:rgb(243, 203, 93); 
}

.mid {
    display: flex;
    flex-wrap: wrap; 
    margin-top: -70px;
}


.mid > div {
    flex: 1; 
    margin: 10px;
    text-align: center; 
}

.mid h2,
.mid p {
    margin: 0; /
}
.mids h2{
    font-family: 'Lilita One', cursive;
    color:#8a4406;
    font-size: 30px;
    font-weight: 12px;
}
.mids p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.jc h2{
    font-family: 'Gloock', serif;
    color:#8a4406;
    font-size: 30px;
    font-weight: 12px;
}
.jc p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.gp h2{
    font-family: 'Righteous', cursive;
    color:#8a4406;
    font-size: 30px;
    font-weight: 12px;
}
.gp p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.jk h2{
    font-family: 'Alfa Slab One', cursive;
    color:#8a4406;
    font-size: 30px;
    font-weight: 12px
}
.jk p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}