*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    /* font-family: 'roboto'; */
    background-color: rgb(250, 236, 178);
   
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 80px;
   
}
header .nav-bar{
    float:right;
    margin-top:5px;
    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left;
}
}
 header ul li{
    display: inline-block;
  
 }   
 header ul li a{
    text-decoration: none;
    font-size: 20px;
   
    margin:0 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding:10px;
    font-size: 18px;


 }

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

nav li {
    margin-right: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a {
    text-decoration: none;
    position: relative;
    color:white;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}


nav li a:hover::after {
    background-color: white; }

.wave{
    margin-bottom: -50px;
    width:90%;
    margin-top: -150px;
}

.wave2{
    width:80%;
    margin-left: 270px;
    margin-top: -48px;
    z-index: 1;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left;
    margin-bottom: -65px;

}


.heading {
  
   line-height: 50px;
    font-weight: 35px;
 margin-left: -470px;
    margin-top: -85px;
    font-size: 50px;
    color: rgb(156, 67, 28);
    font-family: 'Courgette', cursive;
}

.paraa {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: -470px;
    width:500px;
    margin-top: 10px;
    font-family: 'Architects Daughter', cursive;
}

 .btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #ba803de8, #8a4406);
    color: #fff; 
    font-size: 15px;
    border-radius: 35px;
    margin-left: -470px;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    border: none;
    cursor: pointer !important; 
}
.circle{
    width: 100px; 
    height: 100px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%; 
    margin-top: -100px;
    margin-left: 600px;

}
.circle2{
    width: 50px; 
    height: 50px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 600px;
}
.circle3{
    width: 100px; 
    height: 100px;
    background: linear-gradient(to left, #ba803de8, #8a4406); 
    border-radius: 50%; 
    margin-top: -100px;
    margin-left: 40px;
}